<div style="display: flex; flexDirection: row;">
<p>2 - BITCOIN - ETHEREUM</p>
<div> Total ETH {{setTotalETH()}}</div>
<p>----</p>
<div> Total BTC {{setTotalBTC()}}</div>
</div>
<p>Wallets</p>
<div style="display: flex; flexDirection: row;">
  
<div *ngFor="let wallet of wallets">
<app-bitcoin
 [wallet]="wallet[1]['wallet']"
 [name]="wallet[1]['name']"
 [eth]="wallet[1]['eth']"
 [btc]="wallet[1]['btc']">
</app-bitcoin>
</div>
</div>
<p>Transactions</p>
<div style="display: flex; flex-direction: row">
<div *ngFor="let transactions of transactions">
  <app-transaction [id]="transactions[0]" [date]="transactions[1]['date']" [from]="transactions[1]['from']"  [to]="transactions[1]['to']"  [quantity]="transactions[1]['quantity']"  [moneyType]="transactions[1]['moneyType']"  [mineType]="transactions[1]['mineType']"  [miner]="transactions[1]['miner']" >
  <button
  [disabled]="transactions[1]['mineType'] === 'PoS' &&
  transactions[1]['miner'] < 20"
(click)="onMine(transactions[0])">
  mine
</button>

  </app-transaction>
</div>
</div>